@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Dosis:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(71, 72, 73);
  font-family: 'Dosis', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: auto;
  background-color: rgb(64, 130, 147);
  font-size: 1.8rem;
  padding: 1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

#container {
  width: 50%;
  background-color: rgb(174, 207, 255);
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.search-container {
  position: relative;
  width: 70%;
}

.search-container input[type='text'] {
  width: 100%;
  padding: 10px 50px 10px 15px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background-color: #4c93af;
  color: white;

  padding: 8px 8px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container button:hover {
  background-color: #3b7a92;
}

#weather-details {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#weather-details img {
  height: 15rem;
}

.details {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.box {
  flex: 1;
  text-align: center;
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 1rem;
  background-color: rgb(134, 187, 217);
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: row;
}
.box i {
  font-size: 35px;
  height: 16px;
}
.box span {
  padding: 1rem;
}

